A1_in_A.fastq
A1_in_A_count.txt
A1_in_A.bam
A1_in_A.txt
A1_in_A.bam.bai
A1_in_B.bam
A1_in_B.fastq
A1_in_B.txt
A1_in_B.bam.bai
A1_out_A_count.txt
A22_CA_count.txt
A22_current_features.gff
CA_count_hapA.txt
C_albicans_SC5314_A21_current_features.gff
C_albicans_SC5314_A22_current_chromosomes.fasta
C_albicans_SC5314_A22_current_features.gff
Log.out
Log.final.out
Log.progress.out
SJ.out.tab
ca25_count.txt
feng_rnaseq.txt
haplotype_A_A22_current chromosomes.fasta
reads_hapA.xlsx
source activate base.bam
source activate base.txt
translate_features.py
translation table orf19--_A22 complete list.xlsx
genome/A22_diploid_current_chromosomes.fasta
genome/Genome
genome/SA
genome/SAindex
genome/chrLength.txt
genome/chrName.txt
genome/chrNameLength.txt
genome/chrStart.txt
genome/genomeParameters.txt
genome/haplotype_A_A22_current_chromosomes.fasta
.Rproj.user
A1_in_A_A1_in_B.png
A17_in_A.fastq
A1_in_A_A17_in_A.png
A1_in_A_A17_in_A_ma10.png
A1_in_A_A1_in_B_ma10.png
A1_in_A_count_.png
A1_in_A_count_ma10_.png
feng_test.fastq
mapped_reads.xlsx
reads.xlsx
reads_hapA.xlsx
tempCodeRunnerFile.py
Data/A17_in_A.bam
Data/A17_in_A.bam.bai
Data/A17_in_ALog.out
Data/A17_in_ALog.final.out
Data/A17_in_ALog.progress.out
Data/A17_in_ASJ.out.tab
Data/A1_in_ALog.out
Data/A1_in_ALog.final.out
Data/A1_in_ALog.progress.out
Data/A1_in_ASJ.out.tab
Data/A1_in_BLog.out
Data/A1_in_BLog.final.out
Data/A1_in_BLog.progress.out
Data/A1_in_BSJ.out.tab
Data/A22_diploid_current_chromosomes.fasta
Data/Genome
Data/SA
Data/SAindex
Data/chrLength.txt
Data/chrName.txt
Data/chrNameLength.txt
Data/chrStart.txt
Data/genomeParameters.txt
Data/haplotype_A_A22_current_chromosomes.fasta
A1_in_A_A1_in_B.xlsx
257_1_1.csv
257_1_1.fastq
257_1_1.txt
257_1_1_A17_in_A.xlsx
257_1_1_A17_in_A_ma100_999th.png
A17_in_A.csv
A1_in_A.csv
A1_in_A_A17_in_A.xlsx
A1_in_A_A17_in_A_ma100.png
A1_in_A_A17_in_A_ma100_999th.png
A1_in_A_A1_in_B_ma100_999th.png
A1_in_B.csv
A22_current_features
Alex Data PCA Chart.png
Alex Data Scree Plot.png
Hap2_1.csv
Hap2_1.fastq
Hap2_1.txt
Hap2_1_A17_in_A.xlsx
RNA_Seq.code-workspace
test PCA Chart.png
differentially_expressed.csv
filename.html
first_glyphs.html
output.xlsx
Data/Hap2_1Log.out
test Scree Plot.png
.vscode/launch.json
Data/257_1_1.bam
Data/257_1_1.bam.bai
Data/257_1_1Log.out
Data/257_1_1Log.final.out
Data/257_1_1Log.progress.out
Data/257_1_1SJ.out.tab
Data/Hap2_1.bam
Data/Hap2_1.bam.bai
Data/Hap2_1Log.final.out
Data/Hap2_1Log.progress.out
Data/Hap2_1SJ.out.tab
Data/pythonAligned.sortedByCoord.out.bam
Data/pythonLog.out
Data/pythonLog.progress.out
__pycache__/fastq_read_count.cpython-36.pyc
__pycache__/normalization.cpython-36.pyc
A17_in_A.csv
A1_in_A.csv
A1_in_A_A17_in_A.xlsx
A1_in_A_A17_in_A_ma100.png
A1_in_A_A1_in_B.xlsx
A1_in_B.csv
A1_in_A_A17_in_A.xlsx
A17_in_A.csv
A1_in_A.csv
A1_in_A_A17_in_A_ma100.png
A1_in_A_A1_in_B.xlsx
A1_in_B.csv
